<div class="layui-card-header">
                    <!--                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除-->
                    <!--                    </button>-->
                    <!--                    <button class="layui-btn" onclick="xadmin.open('添加用户','member-add.html',600,400)"><i-->
                    <!--                            class="layui-icon "></i>添加-->
                    <!--                    </button>-->
                    <button class="layui-btn layui-btn-danger layui-btn-disabled"></i>批量删除
                    </button>
                    <button class="layui-btn layui-btn-disabled"><i
                            class="layui-icon "></i>添加
                    </button>
                </div>