{% extends 'base.html' %}
{% block gl %}{% end %}
{% block headJs %}
<sctipt src="{{static_url('x-admin/js/jquery.min.js')}}"></sctipt>

{% end %}
{% block body %}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="update_id" value="{{ user_edit['id'] }}">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="" disabled="" value="{{ user_edit['username'] }}"
                           class="layui-input"></div>

            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="email" lay-verify="email" autocomplete="off"
                           class="layui-input" placeholder="{{user_edit['email']}}" value=""></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* 非必填项</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_phone" class="layui-form-label">
                    电话</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_phone" name="phone" required="" lay-verify="phone" autocomplete="off"
                           class="layui-input" placeholder="{{ user_edit['phone']}}" value=""></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* 非必填项</span>
                </div>

            </div>
            <div class="layui-form-item">
                <label for="L_address" class="layui-form-label">
                    地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_address" name="address" required="" lay-verify="address" autocomplete="off"
                           class="layui-input" placeholder="{{user_edit['address']}}" value=""></div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* 非必填项</span>
                </div>

            </div>
            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    <span class="x-red">*</span>密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" required="" lay-verify="pass"
                           autocomplete="off"
                           class="layui-input" placeholder="请输入管理员密码"></div>
                <div class="layui-form-mid layui-word-aux"><span class="x-red">* 必填项 6到16个字符</span></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="add">确定</button>
            </div>
        </form>
    </div>
</div>
</body>
{% end %}

{% block js %}
<script>
    window.baseURL = 'http://192.168.32.1/'
    window.axiosApp = newAxios({
        timeout: 10000,
        baseURL: window.baseURL,
        withCredentials: true,
        headers: {
            post: {'Content-Type': 'application/x-www-form-urlencoded'}
        }
    })

    function send_data($, layer) {

        var data = $(".layui-form").serialize();
        axiosApp.post(
            "haircut/admin/data/edit/user",
            data,
            res => {
                let msg = '';
                let icon = 6;
                if (res.data.status == 1000){
                    console.log(msg)
                    msg = "修改成功 请刷新页面"
                }else {
                    msg = "修改失败 " + res.data.msgError
                     icon = '&#xe69c;'
                }

                 layer.alert(msg, {
                        icon: icon,

                    },
                    function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
            }
        )
    }

    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                email: function (value) {
                    if (value) {
                        if (!(/^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(value))) {
                            return "邮箱不正确"
                        }
                    }
                },
                pass: [/(.+){6,12}$/, '密码必须6到12位'],

                phone: function (phone) {
                    if (phone) {
                        if (!(/^1[3456789]\d{9}$/.test(phone))) {
                            return "手机号码有误，请重填";
                        }
                    }
                }
            });

            //监听提交
            form.on('submit(add)',
                function (data) {

                    send_data($, layer)
                    //发异步，把数据提交给php

                    return false;
                });

        });</script>
{% end %}
